<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nebula Music - login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style-form.css">
</head>

<body>
    <main class="auth-container">
        <section class="auth-card">
            <img src="../static/nebula-music.png" alt="Nebula Music">
            <h1>Nebula <span>Music</span></h1>
            <h2>Bienvenido de vuelta</h2>
            <h3>Ingresa a tu cuenta para continuar</h3>
            <form method="post" action="/autenticacion">
                <label for="correo">Correo: </label>
                <input type="email" id="correo" name="correo" placeholder="Correo">
                <br><br>
                <label for="contrasenia">Contraseña:</label>
                <input type="password" id="contrasenia" name="contrasenia" placeholder="password">
                <br><br>
                <input type="submit" value="iniciar sesion">
                <input type="reset" value="limpiar">
            </form>
        </section>
    </main>
    <footer>
        <p>© Copyright NebulaMusic 2026</p>
    </footer>
</body>

</html>